/* font-family: 'Poppins', sans-serif;                     font-family: 'Roboto Slab', serif; */

#miNavbar{
    background-color: #704928;
}

#home{
    margin-left: 2px;
}

#apartados{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    margin-left: 15px;
}

#element{
    font-weight: bold;
}

#email{
    margin-left: 300px;
}

#contenedorColores{
    background-color: #945229;
    border-radius: 15px;
    margin-top: 40px;
    width: 300px;
    height: 130px;
    margin-bottom: 50px;
}

#tituloColores{
    color: #DCDCDC;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    padding-top: 22px;
}

#contenedorPaleta{

    background-color: #945229;
    border-radius: 15px;
    margin-top: 40px;
    width: 1075px;
    height: 500px;

}

#tituloPaleta{

    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    color: #222527;
    font-size: 50px;
    margin-top: 15px;

}

#contenedorPaletaBlanco{

    width: 1000px;
    height: 332px;
    background-color: white;
    margin-bottom: 20px;

}

#color1{

background-color: #704928;
margin-left: 30px;
margin-right: 30px;
margin-top: 30px;
height: 110px;
margin-bottom: 20px;
padding-top: 35px;
color: #DCDCDC;

}

#color2{
    
background-color: #945229;
margin-right: 30px;
margin-top: 30px;
height: 110px;
margin-bottom: 20px;
padding-top: 35px;
color: #DCDCDC;

}

#color3{
    
background-color: #636566; 
margin-right: 30px;
margin-top: 30px;
height: 110px;
margin-bottom: 20px;
padding-top: 35px;
color: #DCDCDC;

}

#color4{

background-color: #8d8f90;
margin-left: 30px;
margin-right: 30px;
margin-top: 30px;
height: 110px;
padding-top: 35px;
color: #DCDCDC;

}

#color5{
    
background-color: #008bc2;
margin-right: 30px;
margin-top: 30px;
height: 110px;
padding-top: 35px;
color: #DCDCDC;

}

#contenedor2Colores{
     
margin-right: 30px;
margin-top: 30px;
height: 110px;

}

#color6 {

background-color: #222527;
height: 110px;
color: #DCDCDC;
padding-top: 35px;

}

#color7 {

background-color: #dcdcdc;
height: 110px;
padding-top: 35px;
color: #222527;

}

#apartado2{

margin-top: 55px;
margin-bottom: 35px;

}

#contenedorGris{

background-color: #8d8f90;
border-radius: 15px;
width: 600px;
height: 365px;
padding-top: 30px;
padding-bottom: 30px;
padding-left: 30px;
padding-right: 30px;



}

#parrafoGris{

    color: #DCDCDC;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;

}

#titMasInfo{

font-family: 'Poppins', sans-serif;
color: #222527;
font-size: 42px;

}

#infoTexto{

    margin-top: 10px;
    color: #222527;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    margin-bottom: 30px;

}

#boton{

background-color: #008bc2;
width: 80px;
height: 80px;
border-radius: 20px;

}

#boton:hover{

    background-color: #0081b4;
}

#fotoBoton{

    margin-top: 6px;
}

#infoXtra{

    margin-right: 200px;
    margin-left: 570px;

}


#apartado3{

    background-color: #945229;

}

#titMoodboard{

    font-family: 'Poppins', sans-serif;
    color: #222527;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 20px;

}

#moodboard{
    width: 1300px;
    height: 700px;
    margin-bottom: 35px;
}